<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% if g.user %}
        {% set links = [] %}
        <nav class="h-20 bg-white border-b fixed top-0 left-0 right-0">
            <div class="container h-full">
                <ul class="flex flex-row justify-end items-center h-full space-x-6">
                    {% for path, text, icon in links %}
                        <li>
                            <a href="{{ path }}">
                                {% if icon %}<i class="{{ icon }}"></i>{% endif %}
                                {{ text }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/auth/logout" id="sign-out">
                            <i class="fas fa-sign-out-alt"></i>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}

    <main class="{% if g.user %}mt-20{% endif %}">
        {% block content %}{% endblock %}
    </main>

    <style type="postcss">
    * {
        font-family: 'Roboto';
    }
    </style>
    <script src="https://kit.fontawesome.com/4ea0089cb3.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="tailwind-config">
    {
        theme: {
            fontFamily: { sans: ['"Roboto"'], secondary: ['"Raleway"'] },
            extend: {
                spacing: { '80': '20rem', '96': '24rem', '140': '35rem' }
            }
        }
    }
    </script>
    {% if g.user %}
    <script>
        const $signOutButton = document.getElementById('sign-out');

        $signOutButton.addEventListener('click', (event) => {
            event.preventDefault();

            fetch('/auth/logout', { method: 'POST' })
                .then(() => {
                    location.href = '/';
                }).catch(err => {
                    console.log(err);
                })
        })
    </script>
    {% endif %}
    {% block script %}{% endblock %}
</body>
</html>
