{% extends 'layouts/base.html' %}
{% import 'components/forms.html' as forms %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="bg-cover flex h-screen justify-center items-center bg-gray-300"
    style="background-image: url(/static/assets/img/siu9.jpg)">
    <div class="shadow-xl mx-auto grid grid-cols-2 bg-white w-7/12">
        <form class="flex flex-col justify-center items-center" method="POST" action="/auth/login">
            <img class="w-48 mb-8" src="/static/assets/img/logo2.png" alt="Logo" />
            <div class="flex flex-col items-center w-3/5">
                <div class="space-y-4 w-full">
                    {{ forms.input('email', '', 'Correo Electrónico', 'fas fa-user-alt') }}
                    {{ forms.input('password', '', 'Contraseña', 'fas fa-key', 'password', get_flashed_messages()[0]) }}
                </div>

                <div class="mt-8 text-right w-full">
                    {{ forms.button('Iniciar sesión') }}
                </div>
            </div>
        </form>

        <div>
            <img class="h-140 w-full object-cover" src="/static/assets/img/background.jpg"
                alt="Image bien chida la neta bro" />
        </div>
    </div>
</div>
{% endblock %}

